.maxWidth {
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

.content {
    padding: 50px 0;
}

@media (max-width: 690px) {
    .content {
        padding: 20px 0;
    }
}
